#SpotDetailsContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  /* max-width: 1024px; */
}


#WholeSpotDetailsPage {
  padding: 0px 40px 0px 50px;
}

#SpotInfo {
  /* grid-column: 1 / 3; */
  margin-bottom: -1.5rem;
}

#SpotName {
  font-size: 1.5rem;
  margin-bottom: -0.5rem;
}

#SpotLocation {
  font-size: 1.1rem;
  font-weight: normal;
}

#HostedBy {
  font-size: 1.2rem;
}

#ImagesContainer {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap: 0.5rem;
}

#ImagesContainer img {
  width: 100%;
  height: 100%;
  object-fit: center;
}


#ImagesContainer img:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  width: 100%;
}

#ImagesContainer img:nth-child(2),
#ImagesContainer img:nth-child(3),
#ImagesContainer img:nth-child(4),
#ImagesContainer img:nth-child(5) {
  width: 100%;
}

#HostedByDesc {
  /* grid-column: 1 / 2; */
  display: flex;
  flex-direction: column;
}

#ReserveBttnContainer {
  border: 3px solid black;
  /* grid-column: 2 / 3; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
}

#AboveBttn {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

#ReserveBttnReviews {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#ReserveBttnContainer #price strong {
  font-size: 1.3rem;
}

#ReserveBttnContainer #ReserveBttn {
  font-size: larger;
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  width: 100%;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

#IconandRaitingDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: larger;
}

.dot {
  margin: 0 0.25rem;
}

#SDReviewsContainer li{
  list-style: none;
}

#SDReviewsContainer .deleteReviewBttn {
  background-color: rgb(90, 90, 90);
  color: white;
  padding: 4px 10px;
  border: 2px solid black;
  box-shadow: 1px 2px black;
  margin-right: 3px;
}

#SDReviewsContainer button {
  background-color: rgb(90, 90, 90);
  color: white;
  padding: 4px 10px;
  border: 2px solid black;
  box-shadow: 1px 2px black;
  margin-right: 3px;
}



/* #SpotDetailsContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: grid
}

#SpotDetailsContainer img {
  width: 50%;
  height: auto;
}

#SpotInfo {
  display: flex;
  flex-direction: column;
}

#HostedByDesc {
  display: flex;
  flex-direction: column;
  flex: 1
}

#ReserveBttnContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items:end;
  border: 3px solid black;
}
#AboveBttn {
  display: flex;
  flex-direction: row;
}

#ReserveBttn {
  font-size: larger;
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
}

#IconandRaitingDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: larger;
}

.dot {
  margin: 0 0.25rem;
} */
