/* #SpotDetailsContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2 2fr;
} */

#SpotDetailsContainer img {
  width: 50%;
  height: auto;
}


#SDLeftContainer {
  display: flex;
  flex-direction: column;
}

#SDRightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#IconandRaitingDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  margin: 0 0.25rem;
}
