#SpotDetailsContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
}

#SDLeftContainer {
  display: flex;
  flex-direction: column;
}

#SDRightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
