#SignUpForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 250px;
}

#SignUpH1 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: -10px;
    font-size: 140%;
}

#SignUpForm button {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .95);
}

#SignUpForm input {
    margin-bottom: 5px;
    width: 240px;
}
