/*frontend/src/components/SpotList/SpotList.css*/

#SpotsGrid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(205px, 1fr)); */
    grid-gap: 20px;
    margin: 0 auto;
    padding: 10px 40px;
    max-width: 1024px;
}

#SpotsGrid > li {
    list-style: none;
}

#SpotsGrid > li a {
    text-decoration: none;
}

#SpotsGrid > li img {
    border: solid 2px black;
    width: 100%;
    height: 215px;
    object-fit: fill;
    border-radius: 10px;
}

#SpotsGrid #LocationNRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;
}

#SpotsGrid #Price {
    margin-bottom: 10px;
    font-weight: normal;
}

#SpotsGrid #Price strong {
    font-weight: bold;
    font-size: large;
}

@media (max-width: 550px) {
    #SpotsGrid {
        grid-template-columns: repeat(1, 1fr);
        margin:20px;
    }
}

@media (min-width: 551px) and (max-width: 700px) {
    #SpotsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    #SpotsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {
    #SpotsGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}
