/*frontend/src/components/SpotList/SpotList.css
*/

#SpotsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

#SpotsGrid > li {
    border: solid 2px black;
    list-style: none;
}
