/*frontend/src/components/SpotList/SpotList.css*/

#SpotsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
    padding: 10px 40px;
    /* width: 1000px; */
}

#SpotsGrid > li {
    /* border: solid 2px black; */
    list-style: none;
}

#SpotsGrid > li a {
    text-decoration: none;
}

#SpotsGrid > li img {
    border: solid 2px black;
    width: 100%;
    height: 215px;
    object-fit: fill;
}

#SpotsGrid #LocationNRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;
}

#SpotsGrid #Price {
    margin-bottom: 10px;
    font-weight: normal;
}

#SpotsGrid #Price strong {
    font-weight: bold;
    font-size: large;
  }
