/*  frontend/src/index.css */
/* TODO Add site wide styles */

ul {
    padding-inline-start: 0;
}

.error {
    color: red
}
/* #root {
    max-width: 1024px;
} */

button {
    cursor: pointer;
}

/* html {
    background-color: rgb(230, 217, 202);
} */

.errors li {
    color: red;
    list-style: none;
}
