/* frontend/src/components/Navigation/Navigation.css */

.profile-dropdown.hidden {
    display: none;
}

.profile-dropdown {
    position: absolute;
    top: calc(100% - 15px);
    right: 0;
    list-style: none;
    margin: 1px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    /* align-items:center; */
}
.profile-dropdown li button {
    align-items: center;
}

#navigation-ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0px 2px 10px 2px;
    padding-right: 1px;
}

#navigation-ul::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: lightgrey;
    z-index: -1; /* move the line behind the modal */
}

.profile-dropdown ul::after {
    display: none;
}

#navigation-ul img {
    height: 40px;
}

#HomeButton>a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navigation-ul a {
    text-decoration: none;
    color: orangered;
}

#navigation-ul a.nav-link-create-spot {
    color: darkcyan;
    font-weight: 600;
    margin-right: 8px;
}

#navigation-ul .nav-buttons-container {
    position: relative;
}

#navigation-ul .profile-dropdown a {
    color: black;
    text-decoration: none;
    margin: 3px;
}

#navigation-ul button {
    cursor: pointer;
    border-radius: 30px;
    padding: 5px;
}

.profile-dropdown button {
    cursor: pointer;
    border-radius: 30px;
    padding: 3px;
    color: white;
    background-color: grey;
    height: 36px;
    width: 70px;
}


.profile-dropdown .logoutButton {
    display: flex;
    justify-content: center;
    margin: 5px;
  }

.profile-dropdown .helloUser {
    padding: 0px 10px 5px 10px;
}

.profile-dropdown .manageSpots {
    display: block;
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1px;
    padding: 0px 14px 4px 10px;
    /* text-indent: 10px; */
    /* padding-bottom: 4px; */
}

/* #navigation-ul .profile-dropdown a.nav-link-manage-spots {
    display: block;
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1px;
    text-indent: 10px;
} */



/* button {
    cursor: pointer;
    border-radius: 30px;
    padding: 3px;
} */
